nose
rednose
mock
coverage
http://pypi.webfilings.com/packages/wf-gae-fancy-urllib-1.7.1-1.tar.gz
http://pypi.webfilings.com/packages/wf-gae-protorpc-1.7.1-1.tar.gz
http://pypi.webfilings.com/packages/wf-gae-sdk-1.7.1-3.tar.gz
